/* ------- COLORS -------- */
$color-linear-grad: #0f0f0f;
$color-white-shadow: #f2f2f2;
$color-black: #000;
$color-white: #fff;
$color-grey: #777;
$color-grey-2: #999;
$color-bg-lightgrey-1: #f7f7f7;
$color-bg-medgrey: #ececec;
$color-dark-grey: #333;
$color-dark-grey-2: #222222;


$color-primary-light: #7f28b7;
$color-primary-light-2: #6d4884;
$color-primary-medium: #531b76;
$color-primary-dark: #29093c;
$color-primary-dark-2: #1d072a;
$color-primary-dark-3: #12041a;

$color-light-yellow: #ffb900;
$color-dark-yellow: #ff7730;

$color-light-blue: #2998ff;
$color-dark-blue: #5643fa;

$color-light-green: #7ed56f;
$color-dark-green: #28b485;

/* ------- WIDTHS -------- */

$grid-width: 1140px;
$gutter-vertical: 80px;
$gutter-horizontal: 4rem;