/* ---------------- DISCOVER BUTTON ----------------*/
.btn{
    &,
    &:link, 
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 8px 35px;
      display: inline-block;
      border-radius: 100px;
      position: relative;
      transition: all .2s; 
        
        //Change for the button element
        border: none; 
        cursor: pointer;
    }
    
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba($color-white-shadow, 0.2); 
        &:after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; 
    }
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 5px 60px rgba($color-white-shadow, 0.2); 
    }

    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s; 
    }

    &--white {
      background-color: $color-white;
      color: $color-grey; 
        &::after {
            background-color: $color-white; 
        }
    }
    
    &--purple {
        margin-top: 26rem;
        background-color: $color-primary-light-2;
        color: $color-white; 
            &::after {
                background-color: $color-primary-light-2; 
            }
            &-2 {
                margin-top: 3rem;
            }
        }
    
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards; 
    } 
}
/* ---------------- LEARN MORE BUTTON ----------------*/

.btn-text {
        
    &:link,
    &:visited {
        color: $color-primary-medium;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary-light-2;
        padding: 3px;
        float: left;
        font-size: 1rem;
        transition: all .2s;
    }
    
    &:hover {
        background-color: $color-primary-light-2;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .20);
        transform: translateY(-2px);
    }
    
    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .20);
        transform: translateY(0);
    }
}

.btn-go-back {
    position: absolute;
    left: 45%;
}