.cities {
    background-color: $color-bg-medgrey;
    
    &__list {
        list-style: none;
        margin-left: 35.5%;
        padding: 20px 0;
    }
}
.cities__list li {
    width: 180px;
    padding: 9px 180px;
    background-color: $color-white;
    margin: 20px 0 20px 0;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    color: $color-primary-medium;  
    
    background-image: linear-gradient(90deg, transparent 50%, transparent 50%, $color-primary-dark 50%);
    background-size: 200%;
    transition: all .3s;
}
.cities__list li a{
    text-decoration: none;
    font-size: 1.3rem;
    padding: 14px 40px 14px 40px;
    text-transform: uppercase;
    color: $color-primary-medium;
    margin-left: -85px;
}
.cities__list li:hover {
    background-position: 100%;
}
.cities__list li a:hover {
    color: $color-white;
}