.form {
    &__group:not(:last-child) {
        margin-bottom: .6rem;
    }
    &__input {
        font-size: .9rem;
        font-family: inherit;
        color: inherit;
        padding: .7rem 1.5rem ;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border-bottom: 3px solid transparent;
        border: none;
        width: 90%;
        display: block;
        transition: all .3s;
        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
            border-bottom: 3px solid $color-light-green;
            &:invalid {
                border-bottom: 3px solid $color-dark-yellow;
            }
        }
        &::-webkit-input-placeholder {
            color: $color-grey-2;
        }
    }
    &__label {
        font-size: .8rem;
        font-weight: 700;
        margin-left: 1.5rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }
    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-2.5rem);
    }
}