.hotel {
    padding: 10px;
    display: inline-block;
    margin: 30px 0 40px 55px;
    position: relative;
    
    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 1px;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }
    &:hover &__caption{
        opacity: 1;
        cursor: pointer;
    }
    &:hover &__img {
        transform: scale(1);
        filter: blur(2.2px) brightness(80%);
    }
    &:hover{
        outline: 2px solid $color-dark-grey-2;
    }
}

.hotel__img {
    height: 150px;
    width: 220px;
    display: block;
    border-radius: 8px;
    transform: scale(1.1);
    transition: all .5s;
}
/* HOTELS FIELDSET */
.hotels {
    margin-top: 40px;
}