.places-to-go:first-child {
    padding-left: 30px;
}

.place {
    padding: 34px;
    display: inline-block;
    margin: 30px 12px 0 12px;
    position: relative;
    
    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }
    &:hover &__caption{
        opacity: 1;
        cursor: pointer;
    }
    &:hover &__img {
        transform: scale(1);
        filter: blur(2.2px) brightness(80%);
    }
    &:hover{
        outline: 2px solid $color-dark-grey-2;
    }
}

.place__img {
    height: 185px;
    width: 320px;
    display: block;
    border-radius: 8px;
    
    transform: scale(1.1);
    transition: all .5s;
}
.attractions {
    margin-top: 40px;
}
legend {
    font-size: 1.6rem;
    color: $color-primary-medium;
    text-align: center;
}