.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .9);
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    
    @suppports(-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    background-color: rgba($color-black, .3);
    }
    
    &__content {
        @include absCenter;
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4 rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.5);
        transition: all .4s .2s;
    }
    &__left {
        width: 40%;
        display: table-cell;
    } 
    &__right {
        width: 60%;
        display: table-cell;
        vertical-align:top;
        padding: 2.5rem 5rem;
    }
    &__img {
        display: block;
        width: 100%;
        height: 170px;
        
        &--2 {
            height: 230px;
        }
    }
    &__text {
        font-size: .9rem;
        margin-bottom: -23rem;
        
        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid #eee;
        
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid #eee;
        
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    
    /* --------------------------- WORKING OF POPUP ---------------------------- */
    &:target {
        opacity: 1;
        visibility: visible;
    }
    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    &__close {
        &:link,
        &:visited {
            color: $color-grey;
            text-decoration: none;
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            font-size: 2rem;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }
        &:hover {
            color: $color-primary-medium;
        }
    }
}