/* ---------------- SLIDESHOW -----------------*/
img {
  max-width: 100%; }

.slider-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center; }

.menu {
  position: absolute;
  left: 0;
  z-index: 110;
  width: 100%;
  bottom: 0; 

    & label {
      cursor: pointer;
      display: inline-block;
      width: 10px;
      height: 10px;
      background: $color-white;
      border-radius: 50px;
      margin: 0 0.2em 1em; 
        
        &:hover,
        &:focus {
            background: $color-grey; 
        }
    }
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 5;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s 0.75s; }

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left 0.65s ease-out; }

.slide-1 {
  background-image: linear-gradient(rgba($color-linear-grad, 0.85), rgba($color-linear-grad, 0.85)), url(../content/home/carousel1.jpg); }

.slide-2 {
  background-image: linear-gradient(rgba($color-linear-grad, 0.8), rgba($color-linear-grad, 0.8)), url(../content/home/carousel2.jpg); }

.slide-3 {
  background-image: linear-gradient(rgba($color-linear-grad, 0.8), rgba($color-linear-grad, 0.8)), url(../content/home/carousel3.jpg); }

.slide-4 {
  background-image: linear-gradient(rgba($color-linear-grad, 0.8), rgba($color-linear-grad, 0.8)), url(../content/home/carousel4.jpg); }