/* ------------ MAIN HEADINGS ANIMATION ------------*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

/* ------------- BUTTON ANIMATION ------------*/
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } 
}
/* ------------ ABOUT US HEADING ANIMATION ------------*/
@keyframes animatedLine { 
        0% { 
            left: 0; 
        } 
  
        50% { 
            left: 100%; 
        } 
  
        0% { 
            left: 0; 
        } 
    } 