body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color-grey;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px; 
  
    &--main {
    display: block;
    font-size: 50px;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 30px;
    animation: moveInLeft 1.2s ease-out; 
    }
  
    &--sub {
    display: block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 12.3px;
    margin-left: -16.5px; 
    animation: moveInRight 1.2s ease-out; 
    }
}

.heading-secondary {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, rgba($color-primary-light, 0.85), rgba($color-primary-dark, 0.85));
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-linear-grad, .4);
    }
}

.heading-tertiary {
    color: $color-primary-medium;
    text-align: left;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    
    &-2{
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;  
    }
}

.paragraph {
    font-size: 1rem;
    text-align: left;
    
    &:not(:last-child){
        margin-bottom: 2rem;
    }
}

/* ----------------- TEXT FOR ABOUT HEADER -----------------*/

.heading--2 {
    font-weight: 700;
    font-size: 3.8rem;
    text-transform: uppercase;
    color: $color-white;
    @include absCenter;
}

.para1 {
    color: $color-primary-dark-2;
    font-size: 1.2rem;
    text-align: center;
}
.para2 {
    color: $color-dark-grey;
}

/* ----------------- TEXT FOR TESTIMONIALS HEADER -----------------*/

.heading--3 {
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    color: $color-white;
    @include absCenter;
}

/* ----------------- TEXT FOR PROVINCES HEADER -----------------*/

/* FOR MEDIUM NAMES */
.heading--4 {
    font-weight: 700;
    font-size: 3.5rem;
    text-transform: uppercase;
    color: $color-white;
    @include absCenter;
}
/* FOR LARGE NAMES */
.heading--4-big {
    font-weight: 700;
    font-size: 3.2rem;
    text-transform: uppercase;
    color: $color-white;
    @include absCenter;
}

/* ----------------- TEXT FOR CITIES HEADER -----------------*/

.heading--5 {
    margin-top: -25px;
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
    color: $color-white;
    @include absCenter;
}