.u-center-text { text-align: center; }
.u-margin-bottom-big { margin-bottom: 4rem; }
.u-margin-bottom-medium { margin-bottom: 3rem; }
.u-margin-bottom-small { margin-bottom: .8rem;}
.u-margin-bottom-v-small { margin-bottom: 1.5rem;}
.u-margin-bottom-medium-2 { margin-bottom: 1.5rem;}

.u-margin-top-big { margin-top: 4rem; }
.u-margin-top-medium { margin-top: 3rem; }
.u-margin-top-small { margin-top: -2rem; }
.u-margin-top-v-small { margin-top: -3.5rem; }

.u-margin-left-small { margin-left: 2.3rem }