.section-about {
    background-color: $color-bg-lightgrey-1;
    padding: 6rem 0 6rem 0;
}

.section-features {
    padding: 13rem 0;
    
    background-image: linear-gradient(to right bottom,rgba($color-primary-light-2, 0.85), rgba($color-primary-dark-3, 0.85)), url(../content/home/home2.jpg);
    background-size: cover;
}
.section-provinces {
    padding: 6rem 0 34rem 0;
    position: relative;
}
.section-tourbookings {
    background-color: $color-bg-lightgrey-1;
    padding: 6rem 0 35rem 0;
}
.section-stories {
    padding: 6rem 0 6rem 0;
    position: relative;
}
.section-booking {
    padding: 7rem 0;
    background-image: linear-gradient(to right, rgba($color-primary-light-2, 0.85), rgba($color-primary-dark-3, 0.85));
}
.book {
    background-image: linear-gradient(105deg,
                                      rgba($color-white, .9) 0%,
                                      rgba($color-white, 2) 50%,
                                      transparent 50%),
                                      url(../content/home/formbg.jpg);
    
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    height: 30rem;
    
    &__form {
        width: 50%;
        padding: 6rem;
    }
}