.footer {
    background-color: $color-dark-grey;
    padding: 1.5rem 0;
    font-size: 1rem;
    
    &__logo-box {
        text-align: center;
    }
    &__logo {
        width: 13rem;
        height: auto;
    }
    &__navigation {
        border-top: 1px solid $color-grey;
        padding-top: 1.2rem;
        display: inline-block;
    }
    &__list {
        list-style: none;
    }
    &__item {
        display: inline-block;
        
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }
    &__link {
        
        
        &:link,
        &:visited {
            color: $color-bg-lightgrey-1;
            background-color: $color-dark-grey;
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
        }
        
        &:hover,
        &:active {
            color: #c18ae2;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
            transform: rotate(5deg) scale(1.15);
        }
    }
    
    &__copyright {
        border-top: 1px solid $color-grey;
        padding-top: 1.2rem;
        display: inline-block;
        width: 85%;
        float: right;
    }
} 